# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases & logs
data/*.db
data/*.db-wal
data/*.db-shm
*.sqlite
*.sqlite3

# Backups & Temp
backups/
*.bak*
.env
.DS_Store
